<!DOCTYPE html>
{% extends 'templates.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<html lang="en">
<head>
 </head>
 <body>
    <!--KOLOM KANAN-->
    <div class="col-sm-8" style="background-color:#fff7e9;">
        <h2 align="center" style="margin-top: 3px; margin-bottom: 10px">EXPERIENCE</h2>
        <div align="center" class="row">
            <div class="col-md-3">
              <div class="thumbnail" style="background-color: white; padding: 10px; margin: 10px; border-radius: 30px">
                <a href="http://pmb.cs.ui.ac.id/" target="_blank">
                  <img src="https://image.ibb.co/hk5fz9/logo_PMB_AA.png" alt="PMB Fasilkom UI" style="width:100%">
                  <div class="caption">
                    <p>PMB Fasilkom UI 2018</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumbnail" style="background-color: white; padding: 10px; margin: 10px; border-radius: 30px">
                <a href="https://compfest.web.id" target="_blank">
                  <img src="https://image.ibb.co/kNA5z9/Compfest.png" alt="Compfest X" style="width:100%">
                  <div class="caption">
                    <p>CompFest X Fasilkom UI</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumbnail" style="background-color: white; padding: 10px; margin: 10px; border-radius: 30px">
                <a href="https://bem.cs.ui.ac.id/" target="_blank">
                  <img src="https://image.ibb.co/eyiTmp/logo_BEM_Fasilkom.png" alt="BEM Fasilkom UI" style="width:100%">
                  <div class="caption">
                    <p>BEM Fasilkom UI 2018</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
    </div>

</body>
{% endblock %}
</html>
