<!DOCTYPE html>
{% extends 'templates.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<html lang="en">
<head>
</head>
<body>

    <!--KOLOM KANAN-->
    <div class="col-sm-8" style="background-color:#fff7e9;">
        <h2 align="center" style="margin-top: 3px; margin-bottom: 10px">PORTOFOLIO</h2>
        <p align="center">Mohon matikan ad-blocker anda! -- Refresh jika video tidak muncul</p>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="VIDEO YOUTUBE ABIYU" style="width: 90%;height:90%; padding:20px; border-radius: 30px; margin: 20px" alt="Video Youtube Portofolio" src="https://www.youtube.com/embed/CnvBCkrHhBc" allowfullscreen></iframe></iframe>
          </div>
    </div>

</body>
  {% endblock %}
</html>
