<!DOCTYPE html>
<html>
<head>
    <title>Profile : Abiyu Muhammad Akmal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron jumbotron-fluid" style="margin-bottom: -5vw; margin-top: -5vw; background-color: #fff7e9;">
    <div class="container">
        <h1 align="center">I'm Abiyu Muhammad Akmal</h1>
        <p align="center">Welcome to my website profile page!</p>
    </div>
</div>

<div class="col-sm-12" align="center">
    <h2>Challange Pas Kelas</h2>
    <p id="demo">Kelas PPW</p>
    <button type="button" onclick="document.getElementById('demo').style.fontSize='40px'">tulisan 40px!</button>
    <button type="button" onclick="document.getElementById('demo').style.fontSize='20px'">tulisan 20px!</button>
</div>

<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #ffb24f; position: sticky">
    <a class="navbar-brand" href="#"> ABIYU1999 </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'education' %}">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'experience' %}">Experiences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portofolio' %}">Portofolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'form' %}">My Schedule - STORY 5</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">

    <!--KOLOM KIRI-->
    <div class="col-sm-4" style="background-color: #ffe4b8;">
        <div class="row">
            <div class="container">

                <img src="https://image.ibb.co/bBoCCU/Foto_profile.png" class="mx-auto d-block img-res"
                     href="#" data-toggle="tooltip" data-placement="Right" title="PhotoProfile Abiyu!"
                     style="width:70%; height:90%; border: 7px solid #ffb24f; border-radius: 300px; padding: 5px; margin-top: 30px; margin-bottom: 10px">
            </div>
            <button class="btn btn-outline-success mx-auto d-block"
                    style="border-color: #ffb24f; border-width: 3px; border-radius:30px; margin-top: 20px "
                    type="button"><font color="black"> My Physical Information </font></button>
        </div>
        <p align="center">NEVER GIVE UP IN YOUR DREAMS!</p>
        <div class="row" style="margin-left: 20%; margin-right: 10%">
            <div class="column">
                <img src="https://image.ibb.co/mEVw7K/E_mail.png" alt="E_mail" style="width:100%">
            </div>
            <div>
                <img src="https://image.ibb.co/j6x17K/Line.png" alt="Line@" style="width:100%">
            </div>
            <div>
                <img src="https://image.ibb.co/fHn17K/Phone.png" alt="Phone" style="width:100%">
            </div>
        </div>
        <div>
            <p align="center"><font size=5px><strong><i>Keep in touch with me!</i></strong></font><br>
                <font size="4px">abiyu.muhammad@ui.ac.id<br>
                    08561944421<br>
                    @AbiyouAkmal</font></p>
        </div>
    </div>

    {% block content %} {% endblock %}
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>